<!DOCTYPE html>
<html>

<head>
    <title>Profile Page</title>
</head>

<body>
    <center>
        <h1>
            Welcome to <%=user.name%>
        </h1>
    </center>
        <h3>
            Email :- <%=user.email%>
        </h3>
        <h3>
            City :- <%=user.city%>
        </h3>
        <h3>Skills</h3> 
        <ul>
            <%user.skills.forEach((item)=>{%>
                <li>
                    <%=item%>
                </li>
                <% }) %>
        </ul>
</body>

</html>